{% extends "base_index.html" %}

{% block content %}
    <div style="margin-left:20px;margin-top:20px">
        <h4>Темы:</h4>

        {% for topic in topics %}
            <hr>
            <p style="padding:0;margin:0"><h4><a href="{{ topic.get_absolute_url }}">{{ topic.name }}</a></h4></p>
            {% if topic.topics_set.last %}
                <p style="padding:0;margin:0"><strong>Inside:</strong> {{topic.topics_set.count}} topic(s)</p>
            {% else %}
                <!-- <p style="padding:0;margin:0"><strong>Created:</strong> {{topic.time}}</p> -->
                {% if topic.messages_set.last %}
                    <p><strong>Last message:</strong> {{topic.messages_set.last.time}}</p>
                {% else %}
                    <p><strong>Last message:</strong> be first</p>
                {% endif %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}